body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;

background-image: url("cybersecurity.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}

form{
background: rgba(0,0,0,0.6);
padding: 20px;
border-radius: 10px;
}

input{
padding: 10px;
font-size: 16px;
border: none;
outline: none;
border-radius: 5px;
}

input:focus{
box-shadow: 0 0 15px #00ffcc;
}

button{
padding: 10px 15px;
border: none;
border-radius: 5px;
background: #00ffcc;
cursor: pointer;
}
